@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <h5>Pie Chart Example</h5>
        <div>
            <canvas id="MyPieChart"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <h5>Bar Chart</h5>
        <div>
            <canvas id="MyBarChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="col-md-12">
        <h5>Line Chart Example</h5>
        <div>
            <canvas id="myLineChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@section scripts{
    <script type="text/javascript">
        $(function () {
            var ctx = document.getElementById("MyPieChart").getContext('2d');
          
            var myPieChart = new Chart(ctx, {

                type: 'pie',
                data: {
                    labels: ["Green", "Blue", "Gray", "Purple"],
                    datasets: [{
                        backgroundColor: ["#2ecc71", "#3498db", "#95a5a6", "9b59b6"],
                        data:[12,20,18,50]
                    }]
                }


            });


            var ctx_bchart = document.getElementById("MyBarChart");

          

            var myBarChart = new Chart(ctx_bchart, {

                type: 'bar',
                data: {

                    labels: ["Jan", "Feb", "Mar"],
                    datasets: [{
                        label: "Earning",
                        backgroundColor: "rgb(255,99,132,0.2)",
                        borderColor: "rgb(255,29,132,1)",
                        borderWidth: 2,
                        hoverBackgroundColor: "rgb(255,99,132,0.4)",
                        hoverBorderColor: "rgba(255,99,132,1)",
                        data: [65, 56, 45]
                    }]
                }
            });


            //line chart
            var ctx_lineChart = document.getElementById("myLineChart");

            var myLineChart = new Chart(ctx_lineChart, {

                type: 'line',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],//x-axis values
                    datasets: [
                        {
                        label: "Color Data",
                        data: [12, 19, 3, 5, 2, 10],
                        borderWidth: 1,
                            backgroundColor: "rgba(0, 0, 0, 0)",
                        borderColor: "rgba(255,95,132,1)",
                        fill: true
                    }
                  ]
                }
              });


          
        });
    </script>

}